.staff{
    display: grid;
    grid-template: 60px 1fr 1fr 1fr 1fr 1fr / 15% 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.product{
    grid-area: 1/1/3/5;
    padding-left: 20px;
    padding-bottom: 50px;
}

.order{
    grid-area: 3/1/5/5;
    padding-left: 20px;
    padding-bottom: 50px;
}


.top{
    grid-area: 1/1/2/5;
    padding: 20px;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    font-size: 18px;
}

.move_product{
    padding: 10px;
}

.remove_product{
    padding: 10px;
}



.order_list{
    padding: 10px;
}
